@page "/staffroles"
@inject IToastService toastService
@inject IJSRuntime JSRuntime
@inject NavigationManager UriHelper
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inherits OwningComponentBase<RoleRepository>

<h3>Staff Roles</h3>
<div class="admin-link">
    <NavLink href="/admin">Back to Admin</NavLink>
</div>
<div class="new-border3 blue-top">
    <div style="margin-bottom:10px;">
        <button class="btn btn-primary oi oi-plus" @onclick="()=>openModal(true)"> Add New Record</button>
    </div>

    <br />
    @if (popup)
    {
        <div class="modal modal2" tabindex="-1" style="display:block;">
            <div class="modal-dialog modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        @if (role.Id != "")
                        {
                            <h5 class="modal-title">Edit Role</h5>
                        }
                        else
                        {
                            <h5 class="modal-title">Add New Role</h5>
                        }

                    </div>
                    <EditForm Model="role" OnValidSubmit="@Process">
                        <div class="modal-body">
                            <DataAnnotationsValidator/>
                            <ValidationSummary/>
                            <div>
                                <div class="space">
                                    <label for="name">Role Name</label>
                                    <InputText @bind-Value="role.Name" placeholder="Role Name" id="name" name="name" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="closeModal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>

    }

    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid DataSource="@roles" Toolbar="@(new List<string>() { "Search" })" AllowPaging="true">
                    <GridColumns>
                        <GridColumn Field=@nameof(role.Name) HeaderText="Role Name"></GridColumn>
                        <GridColumn Field=@nameof(role.NormalizedName) HeaderText="Description"></GridColumn>
                        
                        <GridColumn MaxWidth="70">
                            <Template>
                                @{
                                    var rType = (context as LoanMgt.SHARED.Role);
                                    <SfButton @onclick="@(() => EditPermissions(rType))" IsToggle="true" IconCss="oi oi-pencil" CssClass="e-success e-small">Permissions</SfButton>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn MaxWidth="70">
                            <Template>
                                @{
                                    var rType = (context as LoanMgt.SHARED.Role);
                                    <SfButton @onclick="@(() => EditRecord(rType))" IsToggle="true" IconCss="oi oi-pencil" CssClass="e-warning e-small">Edit</SfButton>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn MaxWidth="70">
                            <Template>
                                @{
                                    var rType = (context as LoanMgt.SHARED.Role);
                                    <SfButton @onclick="@(() => ShowDelete(rType))" IsToggle="true" IconCss="oi oi-trash" CssClass="e-danger e-small">Delete</SfButton>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
</div>
<Dialog Title="@title" showModal="@showModal" modalType="@modalType"
        OnClickCallback="@(()=> DeletetRecord(role))">
    @childContent
</Dialog>

@code {
    private LoanMgt.SHARED.Role role = new LoanMgt.SHARED.Role();
    private IEnumerable<LoanMgt.SHARED.Role> roles { get; set; } = new List<LoanMgt.SHARED.Role>();

    private bool showModal = false;
    private string title = "Default Title";
    private string childContent = "Default Message";
    private Component.ModalTypes modalType = Component.ModalTypes.Confirm;
    private string roleId = "";
    private bool popup = false;
    private bool newRec = false;

    protected async override Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var name = user.Identity.Name;

        var userID = UserManager.GetUserId(user);

        roles = Service.GetAllRole();
    }

    protected void Process()
    {
        closeModal();

        role.NormalizedName = role.Name.ToUpper();

        if (newRec)
        {
            role.Id = Guid.NewGuid().ToString().ToUpper();
            role.ConcurrencyStamp = Guid.NewGuid().ToString().ToUpper();

            Service.AddRole(role);
            newRec = false;
            toastService.ShowSuccess("Role has been created", "System Information");
        }
        else
        {
            Service.UpdateRole(role);
            toastService.ShowInfo("Role has been updated!", "System Information");
        }

        role = new LoanMgt.SHARED.Role();
        roles = Service.GetAllRole();
    }

    private void ShowDelete(LoanMgt.SHARED.Role rType)
    {
        roleId = rType.Id;
        role = rType;
        modalType = Component.ModalTypes.Delete;
        title = "Delete Record";
        childContent = "Do You Want To Delete This Record(" + role.Name + ")?";
        showModal = true;
    }


    protected void EditPermissions(LoanMgt.SHARED.Role rType)
    {
        UriHelper.NavigateTo("/staffrolepermissions/"+rType.Id);
    }

    protected void EditRecord(LoanMgt.SHARED.Role rType)
    {
        role = rType;
        openModal();
    }

    protected void DeletetRecord(LoanMgt.SHARED.Role rType)
    {
        showModal = false;
        Service.DeleteRole(rType);

        roleId = "0";
        role = new LoanMgt.SHARED.Role();
        roles = Service.GetAllRole();

        toastService.ShowWarning("Role has been Deleted", "System Information");
    }

    void openModal(bool reset = false)
    {
        if (reset == true)
        {
            newRec = true;
            role = new SHARED.Role();
        }
        

        popup = true;
    }

    void closeModal()
    {
        popup = false;
    }
}
